.footer-section{
    background-color: #53B161;
    width: 116%;
    height: 600px;
    transform: translateX(-7%);
    height: 100%;
    padding: 10px;
    margin: none;
    margin-top: 100px;
    margin-bottom: none;
}

.logo-footer{
    width: 100px;
}


h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translateX(-10px);
}

.footer-headings, .links-div {
    display: flex;
    justify-content: space-evenly;
    margin: none;
}

.footer-headings {
    font-size: 20pt;
}

.social-media{
    display: flex;
    gap: 40px;
    align-items: center;
}

.social-media-icon{
    font-size: 30pt;
    color: white;
}

.links-div{
    transform: translateY(-20px);
}
.link{
    color: black;
}

#extra, #extra-2, #extra-3{
    color: #53B161;
}