.footer-section{
    background-color: #5EEA73;
    width: 116%;
    height: 600px;
    transform: translateX(-7%);
    height: 100%;
    padding: 10px;
    margin: none;
    margin-top: 100px;
    margin-bottom: none;
}

.logo-footer{
    width: 100px;
}


h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translateX(-10px);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Adjust based on your design preference */
    margin: 20px auto;
}