/* Homepage.css */
.homepage-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 30px;
}

.left-section, .center-section, .right-section {
    display: flex;
    flex-direction: column;
}

.right-section {
    margin-left: 80px;
}

.homepage-container {
    padding-top: 30px;
}

.center-bottom {
    margin: auto;
    padding: 20px;
    background-color: #A2AEDA;
    box-shadow: 20px -20px 30px #797B83, -20px 20px 30px #797B83;
    margin-top: 40px;
    transform: translate(8%, 50%);
}

.center-title {
    color: aliceblue;
    text-decoration: underline;
}

.article {
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px #797B83, -5px -5px 5px #797B83;
}
