/* Homepage.css */
.homepage-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 30px;
}

.left-section, .center-section, .right-section {
    display: flex;
    flex-direction: column;
}

.right-section {
    margin-left: 80px;
}

.homepage-container {
    padding-top: 30px;
}

.extra{
    display: flex;
}

.center-bottom {
    margin: auto;
    padding: 20px;
    background-color: #53B161;
    box-shadow: 20px -20px 30px #797B83, -20px 20px 30px #797B83;
    margin-top: 50px;
    transform: translateX(8%);
}
.center-top{
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateX(8%);
}
.title{
    font-size: 50pt;
    text-align: center;
    border: 5px dashed black;
}

.title-p{
    font-size: 20pt;
    box-shadow: 5px 5px 40px #53B161;
}

.center-title {
    color: aliceblue;
    text-decoration: underline;
}

.article {
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px #797B83, -5px -5px 5px #797B83;
}

.popular-heading{
    background-color: #53B161;
    margin-top: none;
    width: 100%;
}

.popular{
    border: 2px solid black;
    width: 300%;
    padding: 10px;
    float: left;
}

.recent{
    float: right;
}