.unique-navbar-container {
    font-family: 'Arial', sans-serif;
    background-color: #5470D5;
    color: white;
    padding: 10px 0;
    padding-bottom: 20px;
    width: 100%;
}

.date {
    display: flex;
    justify-content: left;
    font-size: 20pt;
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.unique-navbar-top {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Adjust based on your design preference */
    align-items: center;
    margin: 0 auto;
}

.unique-navbar-logo {
    width: 100px; /* Adjust based on your logo's size */
}

.unique-navbar-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.unique-navbar-icons a {
    color: white;
    font-size: 20px; /* Adjust based on your design preference */
    margin: 0 5px;
}

.unique-navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Adjust based on your design preference */
    margin: 20px auto;
}

.unique-navbar-bottom a, .unique-navbar-bottom button {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.unique-navbar-bottom button {
    padding: 5px 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.unique-navbar-bottom button:hover {
    background-color: white;
    color: #1a1a1a;
}
