
.news-story {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: left;
    background-color: #f9f9f9;
    max-width: 300px;
  }
  
  .news-image {
    max-width: 100%;
    height: auto;
  }
  
  .news-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .news-text {
    font-size: 1rem;
  }
  