.news-icon-container {
    width: 220px;
    position: relative;
    font-family: Arial, sans-serif;
}

.news-icon-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-icon-type {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.news-icon-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.news-icon-footer {
    display: flex;
    justify-content: space-between;
}
